.btn {
  font-weight: 700;
  letter-spacing: 3px;
  padding: 25px 50px;
  text-transform: uppercase;
  border: 1px solid $c-primary;
  text-decoration: none;
  color: $c-primary;
  transition: 0.4s ease;
  display: inline-block;
  text-align: center;
  background-color: transparent;
  outline: none;

  &:hover {
    background-color: $c-primary;
    color: #fff;
  }

  &--small {
    font-size: 14px;
    padding: 15px 30px;
  }
}
