.femaleTitle{
  width: max-content;
  margin: 72px auto 0px auto;
  color: $c-text;
  font-family: $secondary-font;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 520px){
  .femaleTitle{
    font-size: 48px;
  }
}
