.footer {
  width: 100%;
  background-color: $c-primary;
  padding-top: 50px;
  padding-bottom: 37px;

  &__container {
    display: flex;
    justify-content: space-between;

    &_bottom {
      margin-top: 70px;
    }

    @include big-tablets {
      flex-wrap: wrap;
    }

    @include tablets {
      margin-top: 0px;
    }

    @include big-phones {
      &_bottom {
        flex-direction: column;
        text-align: center;
      }
    }
  }

  &__column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 210px;

    &_mini-margin {
      margin-top: 15px;
    }

    &_noSB {
      justify-content: flex-start;
    }

    &:nth-child(3) > .footer__info:hover {
      text-decoration: underline;
    }

    @include big-tablets {
      &:nth-child(4) {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;
      }
    }

    @include tablets {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;

      &:first-child {
        align-items: center;
      }
    }

    @include big-phones {
      &:nth-child(4){
        flex-direction: column;
      }
    }
  }

  &__info {
    width: max-content;
    max-width: 100%;
    color: $c-white;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 24px;
    opacity: 0.5;
    margin-top: 10px;

    @include tablets {
      margin: 5px auto;
    }
  }

  &__link {
    width: max-content;
    max-width: 100%;
    color: $c-white;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;

    &:hover {
      box-shadow: 0 1px 0px 0px $c-white;
    }

    @include tablets {
      margin: 5px auto;
    }
  }

  &__logo {
    width: 200px;
    height: 51px;
    margin-bottom: 42px;

    @include tablets {
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  &__copyrights {
    color: $c-white;
    font-size: 14px;
    font-weight: 400;
  }

  &__siteCreators,
  &__container > span {
    opacity: 0.5;
    color: $c-white;
    font-size: 14px;
    font-weight: 400;
  }

  &__siteCreators > span {
    font-weight: 700;
  }

  &__contact {
    color: $c-white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    &_margin {
      margin-bottom: 12px;
    }

    &:hover {
      box-shadow: 0 1px 0px 0px $c-white;
    }
  }

  &__miniLogo {
    width: 20px;
    height: 20px;
    margin-right: 14px;
  }

  &__string {
    display: flex;

    &_AdaptiveSup {
      display: flex;
      flex-direction: column;
    }

    @include big-tablets {
      width: 30%;

      &_AdaptiveSup {
        width: 26%;
      }
    }

    @include big-phones {
      width: 180px;
      margin: 0px auto;

      &:nth-child(4){
        flex-direction: column;
      }
    }
  }

  &__string:nth-child(1) &__upToDown {
    margin-bottom: 50px;
  }

  &__upToDown {
    display: flex;
    flex-direction: column;

    &_noUrl > div:hover {
      box-shadow: none !important;
    }

    @include big-phones {
      text-align: left;
      margin-bottom: 15px !important;
    }
  }

  &__siteCreatorsLink{
    font-weight: 700;

    &:hover{
      box-shadow: 0 1px 0px 0px $c-white;
    }
  }
}
