.form {
  max-width: 460px;

  @include tablets {
    margin: 0 auto;
    text-align: center;
  }

  .input {
    padding: 20px 0;
    border: none;
    width: 100%;
    letter-spacing: 0.57px;
    border-bottom: 1px solid #148ba5;
    outline: none;
    height: 60px;
    color: $c-primary;
    border-radius: 0;
  }

  textarea.input {
    margin-bottom: 120px;

    @include tablets {
      margin-bottom: 60px;
    }
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $c-primary;
}

::-moz-placeholder { /* Firefox 19+ */
  color: $c-primary;
}

:-ms-input-placeholder { /* IE 10+ */
  color: $c-primary;
}

:-moz-placeholder { /* Firefox 18- */
  color: $c-primary;
}

.call {
  display: flex;
  flex-wrap: wrap;
  color: $c-primary;
  letter-spacing: 0.57px;
  font-weight: 700;
  align-items: center;

  @include tablets {
    justify-content: center;
    flex-direction: column;
  }

  &__text {
    margin-right: 20px;

    @include tablets {
      margin-right: 0;
    }
  }

  &__phone {
    text-decoration: none;
    font-weight: 400;
    font-size: 40px;
    font-family: $secondary-font;
    color: $c-primary;
    margin-bottom: 5px;

    @include tablets {
      font-size: 34px;
    }

    &:hover {
      color: darken($c-primary, 15%);
    }
  }
}
