.header {
  width: 100%;
  margin: 12px auto 0px auto;
  transition: 0.3s;
  position: absolute;

  &_sticky {
    width: 100%;
    margin-top: 0px;
    z-index: 1999;
    position: fixed;
    background: $c-white;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    &_sticky {
      background-color: $c-white;
      top: 0%;
      left: 0%;
      width: 100%;
      z-index: 100;
      padding: 1%;
      margin-top: 0px;
      justify-content: space-around;
    }
  }

  &__phone-ver {
    display: none;
  }

  &__column {
    width: 822px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
  }

  &__link {
    color: $c-text;
    font-size: 16px;
    font-weight: 500;

    &:hover {
      box-shadow: 0 1px 0px 0px $c-text;
    }
  }

  &__logo {
    height: 77px;

    &_sticky {
      height: 50px;
      margin-left: 50px;
      margin-right: 50px;
    }
  }

  @include big-tablets {
    padding-bottom: 40px;

    &__wrapper {
      width: 100%;
      margin-top: 90px;
      padding: 0px !important;
    }

    &__container {
      flex-direction: column;
      position: fixed;
      top: 0%;
      left: 0%;
      width: 100%;
      background: $c-white;
      margin-top: 0px;
      z-index: 999;
      padding: 10px 0px;
    }

    &__column {
      display: none;
    }

    &__containerLogo {
      position: absolute;
      left: 10%;
      height: 100%;
    }

    &__logo {
      display: none;
    }

    &__logo_phone {
      display: block;
      margin: 0px auto;
      height: 70px;
    }

    &__nav {
      margin-bottom: 50px;
    }

    &__phone-ver {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      width: 100%;
      height: 80px;
      position: relative;
    }

    &__link {
      display: block;
      width: max-content;
      margin: 10px auto;
    }

    &__column :last-child {
      display: block;
      width: max-content;
      margin: 0px auto;
    }

    &__link_button {
      width: 110px;
    }

    &__nav {
      padding: 10px 0px;
      position: fixed;
      width: 100%;
      background-color: rgb(57, 82, 89);
      opacity: 0.9;
    }

    &__column {
      width: auto;
      display: none;
      flex-direction: column;
    }

    &__column > &__link {
      margin-top: 15px;
    }
  }

}
