.img-square {
  margin-left: 65px;
  margin-bottom: 65px;
  position: relative;

  img {
    width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    left: -65px;
    bottom: -65px;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &--yellow {
    &::before {
      background-color: $c-warning;
    }
  }

  &--red {
    &::before {
      background-color: $c-error;
    }
  }

  &--blue {
    &::before {
      background-color: $c-primary;
    }
  }

  &--right {
    margin-left: initial;
    margin-right: 65px;

    &::before {
      left: auto;
      right: -65px;
    }
  }
}
