.two-column-noImg{
  &__titleTop{
    color: $c-primary;
    font-family: $main-font;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.63px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__titleColumn{
    color: $c-text;
    font-family: $main-font;
    font-size: 16px;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__col{
    max-width: 480px;
  }
}
