.wrapper {
  width: 1182px;
  margin: 0px auto;
  padding: 0px 15px;

  @include large {
    width: 100%;
    padding-top: 0px;
    padding-left: 25px;
    padding-right: 25px;
  }

  &_services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 120px;
  }

  &_sticky {
    padding: 0px !important;
  }

  &_underHeader {
    padding-top: 229px;
    padding-bottom: 160px;

    @include big-tablets {
      padding-top: 120px;
      padding-bottom: 120px;
    }

    &-about {
      padding-top: 189px;
      padding-bottom: 10px;

      @include big-tablets {
        padding-top: 120px;
      }
    }
  }
}
