mixin gallery(data)
  section.gallery
    .wrapper
      h2.gallery__title= data.title
      .line
      .gallery__list
          a.gallery__item(href="#" rel="nofollow" style="{background-image: url(../../img/gallery__item_1.jpg)}")
          a.gallery__item(href="#" rel="nofollow" style="{background-image: url(../../img/gallery__item_1.jpg)}")
          a.gallery__item(href="#" rel="nofollow" style="{background-image: url(../../img/gallery__item_1.jpg)}")
          a.gallery__item(href="#" rel="nofollow" style="{background-image: url(../../img/gallery__item_1.jpg)}")
          a.gallery__item(href="#" rel="nofollow" style="{background-image: url(../../img/gallery__item_1.jpg)}")
      a.gallery__link(href="#" rel="nofollow") Load More
