mixin ourMission(data)
  section.ourMission(style="{background-image: url(../../img/call_about_background.jpg)}")
    .wrapper.ourMission__content
      .ourMission__column
        .ourMission__title= data.title 
        .line
        .ourMission__author= data.author 
