mixin roadMap(data)
  section.roadMap
    .wrapper
      h2.roadMap__title Milestones
      .line
      .roadMap__map
        .roadMap__item
          .roadMap__mapDate 1987
          .roadMap__mapInfo Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting.
        .roadMap__item.roadMap__item_right  
          .roadMap__mapDate 1995
          .roadMap__mapInfo Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting.
        .roadMap__item    
          .roadMap__mapDate 2005
          .roadMap__mapInfo Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting.
        .roadMap__item.roadMap__item_right   
          .roadMap__mapDate 2019
          .roadMap__mapInfo Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting.
