mixin services(data)
  section.services(style="{background-image: url(../../img/services_background.jpg)}")
    .wrapper.wrapper_services
      .services__card
        h2.services__title= data.title
        .line
      each item in data.items
        a.services__card.services__cardCenter(href="#" rel="nofollow" style="{background-image: url(../../img/services_itemBack1.jpg)}")
          .services__cardFilter
          .services__cardTitle 
            .services__cardTitleText= item.text
