mixin slider(data)
  section.slider
    .wrapper
      .slider__text= data.beforeTitle
      h2.slider__title= data.title
      .line
      .slider__container.owl-carousel.owl-theme
        each item in data.items
          .slider__item
            .slider__itemQuote= item.quote
            .slider__itemAuthor= item.author
