mixin underHeader(data)
  section.underHeader(style='{background: url("../../img/header_background.jpg") no-repeat 0px 64px /cover}')
    .wrapper.wrapper_underHeader(class=`${data.about ? 'wrapper_underHeader-about' : ''}`)
      if (data.title)
        h1.underHeader__title= data.title 
      if (data.line)
        .line
      if (data.text)
        .underHeader__text= data.text 
      if (data.button)
        +button({name: "Request a quote"})
