extends layout/base

block page-title
  title Lantana style

block page-content
  h1.femaleTitle Female style
  block page-content
    -
      var dataColumns1 = {
          title: "Wardrobe & Closet",
          titleIsH2: true,
          textWardrobe: true,
          img: "../img/shutterstock_703755406.png",
          color: "img-square--yellow",
          buttonText: "Contact me",
          buttonLink: "#",
          class: "reverse"
      }
      
      var dataColumns2 = {
          title: "Hair / Make-up",
          titleIsH2: true,
          textHair: true,
          img: "../img/shutterstock_445895689.png",
          color: "img-square--blue",
          buttonText: "Contact me",
          buttonLink: "#"
      }
      
      var dataColumns3 = {
          title: "Shopping / Clothing",
          titleIsH2: true,
          textShoppingClothing: true,
          img: "../img/shutterstock_298048547.png",
          color: "img-square--red",
          buttonText: "Contact me",
          buttonLink: "#",
          class: "reverse"
      }
      
      var dataColumns4 = {
          title: "Shopping / Bridal",
          titleIsH2: true,
          textShoppingBridal: true,
          img: "../img/shutterstock_518817127.png",
          color: "img-square--purple",
          buttonText: "Contact me",
          buttonLink: "#"
      }
      
      var dataColumns5 = {
          title: "Public Speaking",
          titleIsH2: true,
          textPublicSpeaking: true,
          img: "../img/shutterstock_284835587.png",
          color: "img-square--yellow",
          buttonText: "Contact me",
          buttonLink: "#",
          class: "reverse"
      }
      
      var dataColumns6 = {
          title: "Write to Me",
          form: true,
          img: "../img/LYNN-0678.png",
          color: "img-square--right img-square--red",
          class: "reverse form-col"
      }
      
      var dataInfobar = {
          title: "Transitioning?",
          titleIsH2: true,
          text: " If you are transgender or in the process of transitioning, Lantana Style can provide a friendly and safe/private way of helping you shape your new image.",
          buttonText: "Give me a call",
          buttonLink: "#",
      }
      
      var dataColumnsNoImg1 = {
          titleTop: "We can also provide help with",      
          titleIsH2: true,
          titleColumn1: "Personal branding",
          textColumn1: "Your words, actions, and appearance should all communicate your core qualities of competence and credibility. Through your speech, nonverbal communication, and wardrobe you can create your unique “visual signature”.",
          titleColumn2: "Behavior",
          textColumn2: "Our habitual behaviors, whether or not we are aware of them, constantly shape the way others perceive us. Lynn can help you use your actions purposefully to project your true qualities and build connections with colleagues and clients through appropriate verbal and nonverbal patterns of communication."
      }
  
    main.main-content
      +twoColumn(dataColumns1)
      +twoColumn(dataColumns2)
      +twoColumn(dataColumns3)
      +twoColumn(dataColumns4)
      +twoColumn(dataColumns5)
      +twoColumnNoImg(dataColumnsNoImg1)
      +infobar(dataInfobar)
      +twoColumn(dataColumns6)
    
