extends ../layout/base

block page-title
  title Tuson

block page-content
  -
    var dataUnderHeader = {
      title: "ABOUT TUSON CORPORATION",
      about: "true"
    }

  -
    var dataAboutInfo = {
      items: [
          "Since 1987, Tuson has manufactured components and assemblies that serve all industries that require products made of metal or use electric motors, hydraulics, and pneumatics.",
          "Tuson takes pride in the quality of our products and capabilities. Growing from a small sourcing operation and finally into the manufacturing company we are today, shows the faith that our partners have had in us. We have grown from a small one-man operation into a global company with over 200,000 sq. ft. of operating space that is home to about 400 employees.",
          "Maybe the rest can consist of a bullet list of what sets us apart from other Machining companies. If so, you can break down the content below to fit bullet points.",
          "Our two manufacturing facilities in China utilize state of the art technology and equipment necessary to serve our customers. We offer complete services from machining, finishing, inspection, testing, and assembly for an out of the box complete product to your dock. We also provide design services if help is needed on your hydraulic system or DC motor application.",
          "Out of our headquarters in Vernon Hills, IL, we offer warehousing, testing, and assembly services. From this facility, we offer overseas prices with short lead times with our stocking programs. We also provide our customers with EDI, Kanban, and blanket order services.",
          "Family owned and operated.",
          "We will work with you on your testing and assembly specifications for a product you can trust will have the quality you expect."
      ]
    }
  
  -
    var dataOurMission = {
      title: "Our mission is to win the trust and appreciation of our customers with products and services of unrivaled quality and integrity",
      author: "Roger Tu, President"
    }
    
  -
    var dataGallery = {
      title: "Gallery",
      items: [
          "./assets/gallery__item_1.jpg",
          "./assets/gallery__item_2.jpg",
          "./assets/gallery__item_3.jpg",
          "./assets/gallery__item_4.jpg",
          "./assets/gallery__item_5.jpg"
      ]
    }
    
  -
    var dataRoadMap = {}

  main.main-content
    +underHeader(dataUnderHeader)
    +aboutInfo(dataAboutInfo)
    +ourMission(dataOurMission)
    +gallery(dataGallery)
    +roadMap(dataRoadMap)
