footer.footer
  .container
    .footer__row
      .footer__col
        .footer__left
          img.footer__logo(src="../img/white-logo.svg")
          p "You can have anything you want in life as long as you dress for it."
          p - Edith Head
        .footer__right
          ul.footer__list
            li.footer__list-item
              a.footer__list-link(href="#") about
            li.footer__list-item
              a.footer__list-link(href="#") female
            li.footer__list-item
              a.footer__list-link(href="#") male
          ul.footer__list
            li.footer__list-item
              a.footer__list-link(href="#") corporate
            li.footer__list-item
              a.footer__list-link(href="#") contact
      .footer__col
        .footer__socials
          a.footer__social(href="#")
            i.fab.fa-instagram
          a.footer__social(href="#")
            i.fab.fa-facebook-f
        div
          a.footer__mail(href="mailto:Lynn@LantanaStyle.com") Lynn@LantanaStyle.com
          br
          span Chicago, Memphis
        .copyright
          | © 2019 Lantana Style, Inc.
