noscript
  p Please enable Javascript

header.header
  .wrapper.wrapper_header
    .header__container
      .header__phone-ver
        button.nav-toggle
          span.bar-top
          span.bar-mid
          span.bar-bot
        .header__containerLogo
          a(href="#")
            img.header__logo.header__logo_phone(src="../../img/header_logo.svg")
      a(href="#")
        img.header__logo(src="../../img/header_logo.svg")
      nav.header__column
        a.header__link(href="#") About Us
        a.header__link(href="#") Services 
        a.header__link(href="#") Capabilities
        a.header__link(href="#") Projects
        a.header__link(href="#") News
        a.header__link(href="#") Contact
        +button({name: "Request a quote"})
