header.header
  .container
    .header__content
      a.header__hamburger(href="#").js-hamburger
        i.fal.fa-bars.header__hamburger-open
        i.fal.fa-times.header__hamburger-close
      img.header__logo(src="../img/logo.svg")
      nav.header__nav
        .header__nav-row
          a.header__nav-link(href="#") about
          a.header__nav-link(href="#") female
          a.header__nav-link(href="#") male
          a.header__nav-link(href="#") corporate
          a.header__nav-link(href="#") contact
      a.header__phone(href="tel:+8722056969")
        i.fal.fa-phone.header__phone-icon
        span.header__phone-text (872) 205-6969



