include ../components/button
include ../components/advantages
include ../components/services
include ../components/call
include ../components/aboutUs
include ../components/wwd
include ../components/ourWork
include ../components/news
include ../components/industrial
include ../components/slider
include ../components/aboutInfo
include ../components/ourMission
include ../components/gallery

doctype html
html(lang="en")
  head
    block page-title
      title Title
    include ../base/head

  block vars
    - var bodyClasses = '';

  body(class=bodyClasses)
    .page
      include ../objects/header
      .content
        block page-content

      include ../objects/footer
    include ../base/cellar
